.App {
  text-align: center;
}

.username-input,
button,
.filter-dropdown {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: monospace; /* Makes ch units more accurate */
  transition-duration: 0.2s;
}

button {
  margin: 0 0 0 10px;
  color: black;
  background-color: white;
  cursor: pointer;
}

button:hover,
.filter-dropdown:hover {
  color: white;
  border: 1px solid #009746;
  background-color: #009746;
}

.username-input:focus {
  border: 1px solid #009746;
  outline: none;
}

.issues-table {
  width: fit-content;
  text-align: left;
  margin: 25px auto 0 auto;
  padding: 10px;
  border-spacing: 15px 10px;
  border: 2px solid #333;
}

.issues-table td {
  padding: 8px 12px;
  border: 1px solid #ddd;
}

.filter-container {
  margin: 20px 0;
}

.filter-dropdown {
  font-size: 30px;
  background-color: white;
  cursor: pointer;
}

.filter-dropdown:focus {
  outline: none;
}
