.App {
  text-align: center;
}

p {
  margin: 10px 0 0 0;
}

.username-input,
.pat-input,
.dropdown-button,
button {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: monospace; /* Makes ch units more accurate */
  transition-duration: 0.2s;
}

button {
  margin: 10px 0 0 0;
  color: black;
  background-color: white;
  cursor: pointer;
}

button:hover {
  color: white;
  border: 1px solid #009746;
  background-color: #009746;
}

.username-input:focus,
.pat-input:focus {
  border: 1px solid 009746;
  outline: none;
}

.issues-table {
  width: fit-content;
  text-align: left;
  max-width: calc(100vw - 40px);
  margin: 25px auto 0 auto;
  padding: 10px;
  border-spacing: 15px 10px;
  border: 2px solid #333;
}

.issues-table td {
  padding: 8px 12px;
  border: 1px solid #ddd;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 25px 0 10px 0;
  z-index: 1000;
}

.dropdown-button {
  cursor: pointer;
  font-size: 25px;
  margin: 0;
  background: rgba(255, 255, 255, 0.4);
}

.dropdown-menu {
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  border: 1px solid #ddd;
  border-radius: 5px;
  list-style: none;
  padding: 0;
  margin: 15px 0 0 0;
  width: 100%;
  animation: dropdownFade 0.3s ease-out;
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.dropdown-item:hover,
.dropdown-item.selected {
  background: #009746;
  color: white;
  border-radius: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  z-index: 999; /* just below the dropdown */
}

.copy-email {
  cursor: pointer;
  text-decoration: none;
}

.copy-email:hover {
  color: #009746;
}

.show-pat {
  position: absolute;
  transform: translateY(-35%);
  background: none;
  border: none;
}

.show-pat:hover {
  background: none;
  border: none;
  outline: none;
}

@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
